.container {
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex>div {
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.my-2 {
  margin: 2rem 0;
}

.md {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
}

.features-main .grid {
  padding: 30px;
}
